{% extends 'works/base.html' %}
{% block content %}
<title>{{ title }}</title>
<main>
    <form action="#" method="get">
        <label for="service-search">Найти услугу:</label>
        <input type="text" id="service-search" name="service-search" placeholder="Введите название услуги">
        <button type="submit">Найти</button>
    </form>
    <ul>
        {% for n in posts_wor %}
            {% for k in post_all %}
                {% if k.pk == n.profile_wor_id %}
                        <li>
                            <h2><a href="{{ k.get_absolute_url }}">{{ k.first_name }}</a></h2>
                            <p>{{ k.last_name }}</p>
                        </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</main>
{% endblock %}