{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Поиск услуг</title>
	<link type="text/css" href="{% static 'works/css/mainhtml.css' %}" rel="stylesheet" />
</head>
<body>
	<header>
		<div class="header">
            <img src="icon/RPC-JP_Logo.png" alt="Векторный логотип" class="icon" border = "0">
            <div class="header-right">
				<!--Сделать обработку нажатий на кнопки и выбор поиска-->
              <a class="active" href="{{ n.get_absolute_url }}">Я заказчик</a>
              <a href="#contact">Я исполнитель</a>
            </div>
          </div>
	</header>
	{% block content %}
	{% endblock %}
	<footer>
		<p>&copy; 2023, Все права защищены.</p>
	</footer>
</body>
<script src="script.js"></script>
</html>
