
  <div class="wrapper">
    <span class="icon-close"><ion-icon name="close"></ion-icon></span>


    <div class="form-box login">
      <h2>Авторизация</h2>
      <form action="#">
        <div class="input-box">
          <span class = "icon"><ion-icon name="log-in-outline"></ion-icon></span>
          <input type="email" required>
          <label>Login</label>
        </div>
        <div class="input-box">
          <span class = "icon"><ion-icon name="lock-closed"></ion-icon></span>
          <input type="password" required>
          <label>Пароль</label>
        </div>
        <div class="forgot">
        <a href="#">Забыли пароль?</a>
      </div>
      <button type="submit" class="btn">Авторизоватся</button>
      <div class="login-register">
        <p>Нету аккаунта?<a href="reg.html" class="register-link"> Регистрация</a></p>
      </div>
      </form>
    </div>
  </div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="scr.js"></script>